#footer {
	width: 100%;
	height: 150px;
	margin: auto;
	margin-top: -50px;
	position: relative;
	opacity: 0;
	background-color: rgba(0,0,0,.43);
}
#popup_twitter {
	font-family: 'socicon' !important;
	text-align: left;
	color: #ccc;
	border: none;
	background: none;
}
#popup_twitter span {
	font-family: 'Lato', sans-serif;
}
#footer_top {
	height: 50px;
	width: 100%;
	margin: auto;
	padding: 15px 2%;
	max-width: 1280px;
}
#footer_top iframe {
	position: absolute;
	left: 0;
}
#footer_bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	max-width: 1280px;
	left: 0;
	right: 0;
	margin: auto;
}
#footer_bottom div:first-child {
	margin-top: 0px;
	margin-bottom: 20px;
}
#footer_bottom a {
	color: white;
	text-decoration: none;
	margin-right: 15%;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}
#footer_bottom a:last-child {
	margin-right: 0;
}
#footer_bottom a:hover {
	opacity: .5;
	-webkit-transition-duration: 200ms;
	-moz-transition-duration: 200ms;
	transition-duration: 200ms;
}
#footer_bottom p, #footer_bottom > div:nth-child(2) a {
	margin: 0;
	text-align: left;
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
#footer_bottom p {
	margin: 0 45% 0 10%;
	font-size: 14px;
}
#footer_face > iframe {
	width: 110px;
	right: 0;
	left: inherit;
}
.soci_movil {
	display: none;
	top: -50px;
	text-align: center;
}
.lbox {
	display: none;
	width: 100%;
	height: calc(100% + 100px);
	height: -moz-calc(100% + 100px);
	position: fixed;
	top: 0px;
	background: url(/zignum/public/img/paternAlert.png);
	z-index: 3;
}
.lbox p {
	width: 75%;
	height: 60%;
	left: 50%;
	margin: 0;
	top: 5%;
	white-space: pre-line;
	overflow: auto;
	font-size: 18px;
	color: black;
	background: #00fff0;
	padding: 2% 30px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.exitAvTm {
	position: absolute;
	z-index: 1;
	cursor: pointer;
}
.lbox a:hover {
	text-decoration: underline;
	color: black;
}
.lbox b {
	color: black;
}